doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title 404 Page Not Found | OnlyInterns
		link(rel='stylesheet' href='../css/404.css')
	nav
		a.logo-container(href='/')
			img(src='../assets/logo/onlyinterns-logo.png' alt='Website-Logo')
			h5 OnlyInterns
	.image-container(style='text-align: center; margin-top: 20px;')
		img(src='../assets/img/404.jpg' alt='Your Image' style='max-width: 100%;')
	.container(style='text-align: center;')
		h1 404 Page Not Found
		p
			| The URL:
			strong Does not exist.
	footer.footer(style='width: 100%; background-color: #f8f9fa; padding: 10px; text-align: center; margin-top: auto;')
		span.footer-title(style='font-weight: bold;') OnlyInterns
		p
			| Copyright &copy; 
			a(href='#') 2023 Gusto Ko Fries
			| . All Rights Reserved
