doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')   
    title Login | OnlyInterns    
    link(rel='stylesheet', href='../css/styles.css')
  body
    .login-container
      .title-container
        img(src='../assets/logo/onlyinterns-logo.png', alt='logo')
        h4 OnlyInterns
        p Please enter credentials     
      form(action='/', method='POST')
        input#user-email(type='email', name='email', placeholder='Email')  
        input#user-password(type='password', name='password', placeholder='Password')
        small #{validationText}     
        input#login-btn(type='submit', value='Login')
